@import "../theme";

.inPropertyInput{
    width: 60px;
    font-size: 14px;
    font-family: $automata-font-family;
    margin-right: 5px;
    padding: 2px 5px;
    
    border: 1px solid $property-editor-input-background-color;
    border-radius: 0.25rem;
    outline: 0;
}

.inMoveSeqInput {
    @extend .inPropertyInput;
    margin-right: 0;
}