@import "../theme";
@import "../layout-config";

.divRunPanelWrapper{
    width: fit-content;
    z-index: $z-index-toolbar;
}

.divRunControlsWrapper{
    font-size: 15px;

    user-select: none;
}

.iRunControl{
    width: 10vw;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    background-color: $toolbar-button-background-color;
    color: $toolbar-button-text-color;
    cursor: pointer;

    user-select: none;

    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.50);

    transition-duration: 100ms;

    &:hover {
        background-color: $toolbar-button-hover-background-color;
    }

    &:active {
        background-color: $toolbar-button-active-background-color;
    }
}

.iRunControlClose{
    @extend .iRunControl;

    &:hover {
        background-color: $toolbar-close-botton-hover-background-color;
    }

    &:active {
        background-color: $toolbar-close-botton-active-background-color;
    }
}

.divLowerPartWrapper{
    margin-top: 10px;
    padding: 5px;

    border-radius: 5px;
    background-color: $toolbar-button-background-color;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.50);
}

.spanLowerLeftPartWrapper{
    width: 60vw;
    font-size: 15px;
    font-family: $run-string-font-family;
}

.divStringWrapper{
    width: 100%;
    padding: 2px 6px;
}

.spanStringChar{
    color: $run-panel-string-char-color;
}

.spanStringCharConsumed {
    color: $run-panel-string-char-consumed-color;
}

.divStringInputWrapper{
    width: 100%;
}

.inString{
    width: 100%;
    
    padding: 2px 5px;

    border: 1px solid $property-editor-input-background-color;
    border-radius: 0.25rem;
    outline: 0;
}

.spanLowerRightPartWrapper{
    margin-left: 5px;
    padding: 0 5px;
    user-select: none;
}

.spanCurrentStateLabel{
    font-size: 13px;
}

.spanCurrentStateWrapper{
    width: 3em;
    height: 3em;
}

.spanCurrentState{
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    box-sizing: content-box;
    font-size: 14px;
    font-family: $automata-font-family;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
}