@import "theme";

$navbar-height:80px;

.divMainWrapper{
    width: 100%;
    height: 100%;
}

.navNav{
    background-color: $navbar-color;
    height: $navbar-height;
}

.spanDotSplitter{
    color: white;
    user-select: none;
}