@import "theme";
@import "common";
@import "layout-config";

.divMainWrapper{
    position: absolute;
    @include full-parent-size;
}

.navNav{
    background-color: $navbar-color;
    height: $navbar-height;
}

.spanDotSplitter{
    color: white;
    user-select: none;
}