@import "theme";
@import "common";

.divContentWrapper{
    @include full-content-area-size;
}

.dfaPropertyEditor{
    position: absolute;
}

.bottomToolbar{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.divCanvasWrapper{
    @include full-parent-size;
}
