$navbar-color:white;
$navbar-title-color:black;
$navbar-menu-icon-color:rgb(118,118,118);
$navbar-menu-icon-wrapper-hover-color:rgba(0,0,0,0.1);

$alert-background-color:#fff3cd;
$alert-text-color:#664d03;
$alert-border-color:#ffecb5;

$example-tag-background-color-dfa:#aeffb9;
$example-tag-background-color-tm:#ffedae;
$example-scroll-color:rgb(145, 145, 145);
$example-scroll-hover-color: rgb(160, 160, 160);
$example-scroll-active-color: rgb(175, 175, 175);
$example-scroll-track-color: rgb(220, 220, 220);

$aside-background-color:white;
$aside-function-nav-item-color:black;
$aside-function-nav-item-icon-color: rgb(118,118,118);
$aside-function-nav-item-hover-background-color: rgba(0,0,0,0.1);
$aside-function-nav-item-active-background-color: rgba(0,0,0,0.2);

$toolbar-button-background-color:white;
$toolbar-button-hover-background-color: rgba(0, 0, 0, 0.05);
$toolbar-button-active-background-color: rgba(0, 0, 0, 0.1);
$toolbar-button-text-color: rgb(50, 50, 50);
$toolbar-button-text-active-color: #fd850d;
$toolbar-button-text-active-second-color: #fd0d51;
$toolbar-button-text-disabled-color: rgb(150, 150, 150);

$toolbar-close-botton-hover-background-color:#ffdafd;
$toolbar-close-botton-active-background-color:#ffc6fc;

$property-editor-background-color:white;
$property-editor-input-background-color:rgba(0,0,0,0.3);
$property-editor-input-border-color:rgba(0, 0, 0, .25);
$property-editor-state-type-radio-color:#fd9d0d;
$property-editor-confirm-color:rgb(22, 198, 12);
$property-editor-cancel-color: rgb(240, 58, 23);
$property-editor-confirm-hover-background-color:rgba(22, 198, 12,0.2);
$property-editor-cancel-hover-background-color: rgba(240, 58, 23,0.2);
$property-editor-confirm-active-background-color: rgba(22, 198, 12, 0.3);
$property-editor-cancel-active-background-color: rgba(240, 58, 23,0.3);

$run-panel-string-char-color:black;
$run-panel-string-char-consumed-color: red;

$automata-font-family:'Libre Baskerville',serif;
$run-string-font-family:'Roboto Mono',monospace;