$navbar-color:white;
$navbar-title-color:black;
$navbar-menu-icon-color:rgb(118,118,118);
$navbar-menu-icon-wrapper-hover-color:rgba(0,0,0,0.1);

$aside-background-color:white;
$aside-function-nav-item-color:black;
$aside-function-nav-item-icon-color: rgb(118,118,118);
$aside-function-nav-item-hover-background-color: rgba(0,0,0,0.1);

$toolbar-button-background-color:white;
$toolbar-button-hover-background-color: rgba(0, 0, 0, 0.05);
$toolbar-button-icon-color: rgb(50,50,50);
$toolbar-button-text-color: rgb(50, 50, 50);